table{
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

table tr {
	border-bottom: solid 1px rgb(205, 66, 54)
	cursor: pointer;
}

table tr:hover{
	background-color: rgb(102, 153, 204)
}

table th,table td{
	text-align: center;
	width: 25%;
	padding: 15px 0;
}

table td.icon{
	background-size: 35px;
	background-position: left 5px center;
	background-repeat: no-repeat;
	padding-left: 30px;
}
 table td.icon.dog{
 	background-image: url(images/dog.png);
 }

 table td.icon.bird{
 	background-image: url(images/bird.png);
}

table td.icon.cat{
 	background-image: url(images/cat.png);
 }